{{define  "index.layout"}}
{{template  "nav".}}
{{template  "dash".}}
{{template "index.content" .}}
{{template  "footer" .}}
{{end}}
{{define  "index.content"}}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
        </div>
        <canvas class="my-4" id="myChart" width="900" height="380"></canvas>

        {{/*<form class="mb-3">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="uid">UID</label>
                    <input type="text" name="uid" class="form-control" id="uid">
                </div>
                <div class="form-group col-md-6">
                    <label for="title">Title</label>
                    <input type="text" name="title" class="form-control" id="title" placeholder="Website">
                </div>
            </div>
            <div class="form-group">
                <label for="desc">Description</label>
                <input type="text" name="description" class="form-control" id="desc" placeholder="Freelacing Website">
            </div>
            <div class="form-group">
                <label for="detail">Details</label></br>
                <textarea class="col-lg-12" rows="5" name="details" id="detail" ></textarea>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="cat">Category</label>
                    <input type="text" name="category" class="form-control" id="cat">
                </div>
                <div class="form-group col-md-6">
                    <label for="subcategory">Sub Category</label>
                    <input type="text" name="subcategory" class="form-control" id="subcategory" >
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="bud">Budget</label>
                    <input type="text" name="budget" class="form-control" id="bud">
                </div>
                <div class="form-group col-md-6">
                    <label for="worktype">Work Type</label>
                    <input type="text" name="worktype" class="form-control" id="worktype" >
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>*/}}
    </main>

{{end}}