<!DOCTYPE html>
</section>
<html>

<head>
    <title>Sign Up</title>
    {{template "Head"}}

    <link rel="stylesheet" href="../templates/css/signUp.css">

</head>

<body>


    {{template "Header1"}}

    <section class="main-box">
        <div class="signup">
            <div class="signUp-text">Sign Up</div>
            <div class="signUp-text2">Already have an account?
                <a href="/Login" class="login-link" style="color: #DA571F;">Log In</a>
            </div>
            <hr>
            <div class="mt-sm-4">
                <h4 class="text-center">Please check your Email!</h4>
                <p class="text-center" style="color: #DA571F; font-weight: lighter;">We have sent a verification link to your account!</p class="text-center">
            </div>
        </div>
        <div class="bottom-text">
            <div class="bottom-title">
                More than 60k jobs are posted on FJobs every week
            </div>
            <hr>
        </div>
        <div class="texts">
            <div class="text col-sm-4">

                <img src="../templates/images/skills.png" class="text-image">
                <div>
                    <p class="text-title">Find what you need</p>
                    <p>Choose from specialized freelancers and agencies with 5000 skills.</p>
                </div>
            </div>
            <div class="text col-sm-4">

                <img src="../templates/images/post.png" class="text-image">
                <div>
                    <p class="text-title">Post today, hire tomorrow</p>
                    Get custom quotes right away on terms you negotiate directly.
                </div>
            </div>
            <div class="text col-sm-4">
                <img src="../templates/images/bill.png" class="text-image">
                <div>
                    <p class="text-title">Engage with cofidence</p>
                    Only pay for work you authorize, with secure billing and invoices.
                </div>
            </div>
        </div>
    </section>
    {{template "Footer1"}}

</body>

</html>