{{define "Footer1"}}

<footer class="p-sm-5">
    <section class="container-fluid-sm">
        <div class="row">
            <article class="col-sm-4 sector" id="about">
                <h4 class="mb-sm-3">FJob</h4>
                <p>FJob is the fastest, easiest and most reliable way to to get your project done for you.
                    You'll be able to post a project and 1000s of freelance from across the globe will be
                    able to access and help you to finish your project quickly, professionally, and affordably.</p>
            </article>

            <article class="col-sm-4 sector pl-sm-4">
                <h4 class="mb-sm-3">Navigation</h4>
                <a href="/Login" class="d-block mb-sm-2">LOGIN</a>
                <a href="/Register" class="d-block mb-sm-2">SIGN UP</a>
                <a href="#" class="d-block mb-sm-2">HOW IT WORKS</a>
                <a href="/Login" class="d-block mb-sm-2">POST PROJECT</a>
        
            </article>

            <article class="col-sm-4 pl-sm-4">
                <h4 class="mb-sm-3">Contact us</h4>
                <div class="mb-sm-5">
                    <a href="http://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                    <a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a>
                    <a href="http://www.googleplus.com"><i class="fab fa-google-plus-g"></i></a>
                    <a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a>
                </div>
            </article>
        </div>
        

        <p class="col-sm-12 mt-sm-4 text-center">Copyright FJobs. 2019 All Rights Reserved.</p>

    </section>
</footer>

</body>
</html>
{{end}}


{{define "Footer2"}}

<footer class="p-sm-5">
    <section class="container-fluid-sm">
        <div class="row">
            <article class="col-sm-4 sector" id="about">
                <h4 class="mb-sm-3">FJob</h4>
                <p>FJob is the fastest, easiest and most reliable way to to get your project done for you.
                    You'll be able to post a project and 1000s of freelance from across the globe will be
                    able to access and help you to finish your project quickly, professionally, and affordably.</p>
            </article>

            <article class="col-sm-4 sector pl-sm-4">
                <h4 class="mb-sm-3">Navigation</h4>
                <a href="/EditProfile" class="d-block mb-sm-2">PROFILE</a>
                <a href="/Post_Project" class="d-block mb-sm-2">POST PROJECT</a>
                <a href="/Search_Project" class="d-block mb-sm-2">SEARCH</a>
                <a href="/Logout" class="d-block mb-sm-2">LOG OUT</a>

            </article>

            <article class="col-sm-4 pl-sm-4">
                <h4 class="mb-sm-3">Contact us</h4>
                <div class="mb-sm-5">
                    <a href="http://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                    <a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a>
                    <a href="http://www.googleplus.com"><i class="fab fa-google-plus-g"></i></a>
                    <a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a>
                </div>
            </article>
        </div>


        <p class="col-sm-12 mt-sm-4 text-center">Copyright FJobs. 2019 All Rights Reserved.</p>

    </section>
</footer>

</body>

</html>
{{end}}