{{define "Head"}}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../templates/css/Header.css" />
    <link rel="stylesheet" href="../templates/css/Footer.css" />
{{end}}


{{define "HeadO"}}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="../templates/js/jquery-3.4.1.min.js"></script>
<script src="../templates/js/jquery-3.4.1.js"></script>
<link rel="stylesheet" href="../templates/fontawesome-free-5.12.0-web/css/all.css">
<link rel="stylesheet" href="../templates/bootstrap-4.4.1-dist/css/bootstrap.min.css" />
<script src="../templates/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="../templates/css/Header.css" />
<link rel="stylesheet" href="../templates/css/Footer.css" />
{{end}}