<!DOCTYPE html>
<html>

<head>
    <title>Welcome</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../templates/css/WelcomePage.css">
    <link rel="stylesheet" href="../templates/css/Footer.css" />
    
</head>

<body>
    <header class="w-100 container-fluid" id="slider">
        <nav class="navbar navbar-expand-sm">
            <ul class="navbar-nav ml-auto mr-sm-5 mt-sm-3">
                <li class="nav-item"><a href="/Register" class="nav-link font-weight-bold mr-sm-2">Register</a></li>
                <li class="nav-item"><button class="btn btn-outline-primary font-weight-bold"
                        onclick="onLogin()">Login</button></li>
            </ul>
        </nav>

        <div class="slideshow-container">
            <div class="mySlides fading">
                <p class="marked">Our freelancers Will help you to create and finish</p>
                <p class="hfont">High Quality, Satisfying projects.</p>
                <p class="emp" id="p-low">For As Low As You Can Get!</p>
                <button class="m-sm-3 btn font-weight-bolder hire" onclick="onLogin()">
                    GET ACCESS NOW</button>
            </div>

            <div class="mySlides fading">
                <div>
                    <p class="marked">Never Pay A Dime</p>
                </div>
                <div>
                    <P class="marked">Until You're 100% Satisfied</P>
                </div>
                <div>
                    <p class="marked">With The Content Finished Project.</p>
                </div>

                <button class="m-sm-5 hire marked-button" onclick="onLogin()">
                    POST PROJECT</button>
            </div>

            <div class="mySlides fading">
                <p class="mt-sm-5">Creating More Jobs Online</p>
                <div>
                    <p class="marked hfont">Than Any Other Freelance Service On The</p>
                </div>

                <p class="hfont m-sm-0">Planet Since <span class="emp">2019.</span></p>
            </div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
        <br>

        <div style="text-align:center" class="dot-group">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>

    </header>

    <section class="container-fluid" id="top-section">

        <article id="article1" class="row p-sm-5">
            <section class="col-sm-8">
                <h1 class="m-sm-3 after-change">Don't know where to find your ideal employee?</h1>
                <div class="mt-sm-3 mb-sm-5">
                    <p class="m-sm-3"><img src="../templates/images/job.png" class="articleImage mr-sm-4"><span
                            class="tip text-muted"> Find your ideal
                            employee.</span></p>
                    <p class="m-sm-3"><img src="../templates/images/save-time.png" class="articleImage mr-sm-4"><span
                            class="tip text-muted"> Save time and money.</span></p>
                    <p class="m-sm-3"><img src="../templates/images/investment.png" class="articleImage mr-sm-4"><span
                            class="tip text-muted"> Hire the best employee without extra coast.</span></p>
                </div>
                <button class="m-sm-3 btn btn-lg btn-w font-weight-bold hire" onclick="onLogin()">HIRE YOUR IDEAL
                    EMPLOYEE</button>
            </section>
            <section id="section-standing-man" class="col-sm-4">

            </section>
        </article>

        <article>
            <div class="pt-sm-5">
                <div class="container mt-sm-4">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-center after-change" style="margin-bottom: 15px"> How Does FJob Work? </h2>
                        </div>
                        <div class="col-md-12">
                            <h3 class="text-center"> FJob Works In Just 4
                                Easy Steps. </h3>
                        </div>
                        <div class="col-sm-12 hidden-xs mt-sm-5">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="odd-td"><img class="img-fluid" src="../templates/images/bubble-step-1.png"></td>
                                        <td class="even-td"><img class="img-fluid" src="../templates/images/stripped-line.png"></td>
                                        <td class="odd-td"><img class="img-fluid" src="../templates/images/bubble-step-2.png"></td>
                                        <td class="even-td"><img class="img-fluid" src="../templates/images/stripped-line.png"></td>
                                        <td class="odd-td"><img class="img-fluid" src="../templates/images/bubble-step-3.png"></td>
                                        <td class="even-td"><img class="img-fluid" src="../templates/images/stripped-line.png"></td>
                                        <td class="odd-td"><img class="img-fluid" src="../templates/images/bubble-step-5.png"></td>
                                    </tr>
                                    <tr>
                                        <td class="odd-td lower">
                                            <h4>Step #1</h4>
                                            <p>
                                                <a href="/Register">Register</a>
                                                For A Free Account. </p>
                                        </td>
                                        <td class="even-td lower"></td>
                                        <td class="odd-td lower">
                                            <h4>Step #2</h4>
                                            <p>Create your project and send us your Request.</p>
                                        </td>
                                        <td class="even-td lower"></td>
                                        <td class="odd-td lower">
                                            <h4>Step #3</h4>
                                            <p>Receive multiple request & applicants at instante.</p>
                                        </td>
                                        <td class="even-td lower"></td>
                                        <td class="odd-td lower">
                                            <h4>Step #4</h4>
                                            <p>Review responses and hire your ideal employee.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </article>

    </section>

    {{template "Footer1"}}
    <script>
        var slideIndex = 1;
        var listOfImages = ["url('../templates/images/slider-1.jpg')", "url('../templates/images/slider-2.jpg')", "url('../templates/images/slider-3.jpg')"];
        showSlidesAutomatic();

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlidesAutomatic() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            if (slideIndex > slides.length) { slideIndex = 1 }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            var slider = document.getElementById('slider');
            var imageUrl = listOfImages[slideIndex - 1];
            slider.style.backgroundImage = imageUrl;
            slideIndex++;
            setTimeout(showSlidesAutomatic, 5000);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            var slider = document.getElementById('slider');
            var imageUrl = listOfImages[slideIndex - 1];
            slider.style.backgroundImage = imageUrl;
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }

        function onLogin() {
            window.location.href = '/Login';
        }

        function onRegister() {
            window.location.href = '/Register';
        }

    </script>

</body>

</html>