
<!DOCTYPE html>
</section>
<html>

<head>
    <title>Login</title>
    {{template "Head"}}

    <link rel="stylesheet" href="../templates/css/AppliedFor.css">

</head>

<body>
    

    {{template "Header1"}}

    <div class="main ">
        <div class="main-box">
        <h5 class="title">Applied For</h5>
        <hr>
        <div class="project-status">
            <div class="project">
                <p class="small"><b>Project name:</b></p>
                <p class="small">Name</p>
            </div>
            <div class="status">
                <p class="small"><b>Status:</b></p>
                <p class="small">Active</p>
            </div>
        </div>
        <div class="project-status mt-2">
            <div class="project">
                <p class="small"><b>Project name:</b></p>
                <p class="small">Name</p>
            </div>
            <div class="status">
                <p class="small"><b>Status:</b></p>
                <p class="small">Active</p>
            </div>
        </div>
    </div>
</div>
    {{template "Footer1"}}
 
   
</body>

</html>