@keyframes load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header + section section {
  overflow: hidden;
  background-color: white;
}
body {
  background-color: #f2f2f2;
}

input::placeholder,
textarea::placeholder {
  font-size: 0.8em;
  font-style: italic;
}
#form-post-button {
  background-color: #da571f;
  border: solid #da571f 1px;
  color: white;
  font-weight: bold;
}
#form-post-button:hover {
  background-color: #f8f9fc;
  color: #da571f;
}
#form-tip {
  background-color: #ffffff;
}

#form-tip p{
  font-size: 14px;
}

.inner-section {
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
ol {
  background: white;
  border: solid #dfe0e3 1px;
  box-sizing: border-box;
  overflow: hidden;
  padding-left: 10px;
}
ol li {
  font-size: 0.8em;
  margin: 10px;
}

.tooltip-group {
  position: relative;
}

.tooltip-group .tooltiptext {
  visibility: hidden;
  width: 120px;
  font-size: 0.8em;
  background-color: crimson;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -60px;
}

.tooltip-group .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent crimson transparent;
}
#pdf-repository{
    overflow: hidden;
}
.resource{
    overflow: hidden;
    margin: 6px;
}
.resource i {
  font-size: 30px;
  color: red;
  float: left;
}

.resource p {
  font-size: 13px;
  float: left;
  margin: 0 5px 0;
}

#owner-info p{
  color: #da571f;
  font-weight: 500;
}

@media screen and (max-width: 950px) {
  header,
  .inner-section {
    margin-bottom: 20px;
  }
  .inner-section {
    width: 100%;
    padding: 0;
  }
  .inner-section article {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 575px) {

  #owner-info{
    padding: 10px;
    margin-bottom: 10px;
  }
  
}