{{define "Header"}}

<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    <span data-feather="home"></span>
                    Dashboard <span class="sr-only"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ViewProject">
                    <span data-feather="eye"></span>
                    View Project
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/PostProject">
                    <span data-feather="file-plus"></span>
                    Post Project
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/UpdateProject">
                    <span data-feather="edit-3"></span>
                    Update Project
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/RemoveProject">
                    <span data-feather="trash-2"></span>
                    Remove Project
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/UserProjects">
                    <span data-feather="target"></span>
                    User Project
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ViewProjectApplicants">
                    <span data-feather="arrow-up-right"></span>
                    Application Request
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ViewApplication">
                    <span data-feather="file"></span>
                    Application
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Apply">
                    <span data-feather="file-text"></span>
                    Apply
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="user-plus"></span>
                    Hire
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/RemoveApplication">
                    <span data-feather="trash-2"></span>
                    Remove Application
                </a>
            </li>
        </ul>
    </div>
</nav>

{{end}}