<!doctype html>
<html lang="en">
{{template "Head"}}

<body>

  <div class="container-fluid">
    <div class="row">
      {{template "Header"}}

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2">Application Request</h1>
        </div>
        <form method="POST" action="/ViewProjectApplicants" class="form-inline">
          <div class="form-group mx-sm-3 mb-2">
            <input name="pid" type="text" class="form-control" id="inputPid" placeholder="PID">
          </div>
          <button type="submit" class="px-sm-4 btn btn-primary mb-2"><span data-feather="search"></span></button>
        </form>

        {{if .ErrorValue}}
        <div style="text-align: center;" class="container" style="margin-top: 50px;">
          <h3 style="text-align: center; color: red;">Invalid! No Content</h3>
        </div>
        {{end}}

        {{if .Applicants}}
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Firstname</th>
              <th scope="col">Lastname</th>
              <th scope="col">Email</th>
              <th scope="col">Proposal</th>
              <th scope="col">CreatedAt</th>
            </tr>
          </thead>
          <tbody>

            {{range .Applicants}}
            <tr>
              <td>{{.Firstname}}</td>
              <td>{{.Lastname}}</td>
              <td>{{.Email}}</td>
              <td> {{.Proposal}} </td>
              <td> {{.CreatedAt}}</td>
            </tr>

            {{end}}            

          </tbody>
        </table>
        {{end}}

      </main>
    </div>
  </div>

  {{template "Footer"}}


</body>

</html>